<div class="modal" id="contact-modal">
	<div class="modal__content modal__content_contact">
		<button class="modal__close" type="submit">
			<img src="assets/images/modal/cros.svg" alt="" />
		</button>
		<form action="" class="form" action="/" method="POST">
			<div class="form__group form__groupe_md">
				<input class="form__control" type="text" placeholder="Ваше имя">
				<span class="form__line"></span>
			</div>
			<div class="form__group form__groupe_md">
				<input class="form__control" type="email" placeholder="Ваш e-mail" value="">
				<span class="form__line"></span>
			</div>
			<div class="form__group form__groupe_md">
				<textarea class="form__control form__control_textarea" name="textarea-modal" placeholder="текст сообщения"></textarea>
				<span class="form__line"></span>
			</div>
			<div class="form__footer">
				<div class="form__group form__group_md">
					<button class="btn btn_blue btn_rounded btn_sm" type="submit">Отправить</button>
				</div>
			</div>
		</form> <!--/ .form-->
		<ul class="modal__footer">
			<li>e-mail: <a href="mailto:alexnikolaenko@yandex.ru">alexnikolaenko@yandex.ru</a></li>
			<li>Тел: <a href="tel:+7914540xxxx">+7914540xxxx</a></li>
		</ul>
		<!--modal__footer --> 
	</div> <!--/ .modal__content -->
</div> <!--/ .modal -->