<aside class="sidebar">
	<div class="sidebar__header">
		<img src="assets/images/aside-img.jpg" alt="aside-image" />
	</div>
	<div class="sidebar__content">
		<div class="profile">
			<img class="profile__avatar" src="assets/images/face.jpg" alt="face" />
			<div class="profile_name">Aleks Nikolaenko</div>
			<div class="profile_prof">web-разработка</div>
			<ul class="social">
				<li class="social__item">
					<a class="social__link" href="#" target="_blank">
						<img src="../img/" alt="" />						
					</a>
				</li>
				<li class="social__item">
					<a class="social__link" href="#" target="_blank">
						<img src="../img/" alt="" />
					</a>
				</li>
				<li class="social__item">
					<a class="social__link" href="#" target="_blank">
						<img src="../img/" alt="" />
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="sidebar__footer"></div>
</aside>