.form {
	// .form__group
	&__group {
		margin-bottom: 1.5rem;
		position: relative;
		&_md {
			margin-bottom: 2.5rem;
		}
	}
	// .form__control
	&__control {
		display: block;
		width: 100%;
		padding: 0.5rem 0 0.75rem;
		background: none;
		border: none;
		border-bottom: 1px solid #3f3f3f;
		border-radius: 0;
		box-shadow: none;
		font-family: inherit;
		font-size: 1.4rem;
		color: $white;

		&::placeholder {
			color: rgba($white, 0.2);
		}

		&:focus + .form__line {
			width: 100%;
		}
		// .form__control_textarea
		&_textarea {
			height: 3rem;
			resize: none;
			overflow: hidden;
		}
	}
	// .form__line
	&__line {
		width: 0;
		height: 1px;
		background-color: $blue;
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 1;
		transition: width 0.4s linear;
	}

	&__footer {
		margin-top: 3rem;
		&_center {
			text-align: center;
		}
	}
	&__footer-list {
		display: flex;
		justify-content: center;

		li {
			margin: 0 0.5rem;
			font-size: 1.2rem;
			line-height: 1.2;
			a {
				color: $white;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	&_auth {
		max-width: 280px;
		margin: 0 auto;
	}
}
